body {
    min-height: 100vh;
    margin: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

img{
    max-width:200px;
}
p {
    max-width:200px;
}

.links {
    display: flex;
    max-width:300px;
}

.links a {
    color:green
    
}